<html>
 <head>
     <title>Show Details</title>
 </head>
<body>
<!-- <p style="color:green;"> 
    <% 
     //var DeleteMsg;
    //if(DeleteMsg == '' || DeleteMsg == undefined){ %>
        <%= //DeleteMsg %> 
    <% //} %>
</p> -->
<table>
    <thead>
      <th>
          <td>Sno</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Phone Number</td>
          <td>Action</td>
      </th>
    </thead>
    <%  var i = 0; %>
    <% memberdata.forEach(function(data,i) { %>
        <tr>
            <td><%= i %><%= data._id %></td>
            <td><%= data.firstname %></td>
            <td><%= data.lastname %></td>
            <td><%= data.email %></td>
            <td><%= data.phno %></td>
            <td><a href="/memberedit/<%= data._id %>">Edit</a></td>
           <td> <a href="/memberdelete/<%= data._id %>"> Delete </a></td>
        </tr>
        <% i++ %>
    <% }) %>



</table>

</body>
</html>